@model IEnumerable<MVC_Project.ViewModels.QualificationReportModel>
@{
    ViewBag.Title = "Index";

}

<div class="row">
    <div class="col-12">
        <h3>Candidates</h3>

        <table class="table table-bordered">
            <thead class="table-light">
                <tr>

                    <th>Candidate Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.GroupBy(x => x.CandidateName).ToList())
                {
                    <tr>
                        <td>
                            @g.Key
                        </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="6">
                            <h4>Qualifications</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Degree</th>
                                        <th>Passing Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var q in g)
                                    {
                                        <tr>
                                            <td>@q.Degree</td>
                                            <td>@q.Institute</td>
                                            <td>@q.PassingYear</td>
                                            <td>@q.Result</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center">
        @Html.ActionLink("To PDF", "QualificationPDF", "Crystal", new { }, new { @class = "btn btn-primary btn-sm" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("To Excel", "QualificationExcel", "Crystal", new { }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
@section scripts {

}

